<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>QCS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <meta property="og:title" content="QCS - Quick Copy Share" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://qcs.sserve.me" />
        <meta property="og:image" content="http://qcs.sserve.me/static/favicon.ico" />
        <meta property="og:description" content="Quickly share your clipboard!" />
        <meta name="theme-color" content="#FFFFFF">
    </head>
    <body>
        <div class="container">
            <h1>Quick Copy Share</h1>
            <div class="main">
                <ul class="tabs">
                    <li class="tab"><button class="tab-btn" id="share-tab" name="share">Share</button></li>
                    <li class="tab"><button class="tab-btn" id="copy-tab" name="copy">Copy</button></li>
                    <li class="tab"><button class="tab-btn" id="about-tab" name="about">About</button></li>
                </ul>
                <div class="tab-content" id="share">
                    <button id="share-button" class="action-btn">Share My Copy!</button>
                    <div id="share-result" style="display: none;">
                        Code: <span id="share-code"></span><br>
                        This code is only valid within 1 minute.
                    </div>
                </div>
                <div class="tab-content" id="copy">
                    <input type="text" id="copy-code" class="action-input" placeholder="Input your code here">
                    <button id="copy-button" class="action-btn">Load My Copy!</button>
                    <div id="copy-result" style="display: none;">
                        Successfully copied.
                    </div>
                </div>
                <div class="tab-content" id="about">
                    Developer: SSerVe</br>
                    Github: <a href="https://github.com/sserve-kr">Link</a></br>
                    Discord: <a href="https://discord.gg/5S5ZAgwJzA">서브#7777</a></br>
                    <span>Thanks for using this app.</span>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script>
            tab_switch('share-tab')
        </script>
    </body>
</html>